# 데이터 로드

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
# unzip한 csv는 가급 push하지 말아주세요~
# !unzip ./real_estate/gg_enco.zip
# !unzip ./real_estate/gg_encox.zip 
# !unzip ./real_estate/seoul_enco.zip 
# !unzip ./real_estate/seoul_encox.zip

In [15]:
import pandas as pd

# path = './drive/MyDrive/real_estate/seoul_kor.csv'
path = './drive/MyDrive/real_estate/seoul_num.csv'
# path = './drive/MyDrive/real_estate/gg_kor.csv'
# path = './drive/MyDrive/real_estate/gg_num.csv'

In [28]:
df = pd.read_csv(path)
df['환산_보증금_월세'] = df.apply(lambda x: x['보증금(만원)'] + x['월세(만원)']*12*20, axis='columns')
# df = df.drop(['보증금(만원)', '월세(만원)'], axis=1) # 드랍하자
df = df.astype(int) # 속도를 위해 전부 인트로 하자

In [29]:
print(df.shape)
df.head(20)

(3591649, 13)

,시군구_Encoder,동_Encoder,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이,환산_보증금_월세
0,0,9,0,77,33000,0,2,0,2,1941,2014,26,33000
1,0,9,0,79,34000,0,2,0,2,1941,2014,27,34000
2,0,9,0,79,28000,0,1,0,2,1941,2014,27,28000
3,0,9,0,79,35000,0,2,0,2,1941,2014,27,35000
4,0,9,1,104,40000,40,8,0,2,1941,2014,30,49600
5,0,9,0,133,58000,0,9,0,2,1941,2014,30,58000
6,0,9,0,161,63000,0,8,0,2,1941,2014,30,63000
7,0,9,0,168,60000,0,6,0,2,1941,2014,10,60000
8,0,9,1,170,10000,330,7,0,2,1941,2014,10,89200
9,0,9,0,50,12000,0,3,0,2,1941,2014,32,12000
10,0,9,0,61,17000,0,3,0,2,1941,2014,32,17000
11,0,9,0,58,14000,0,1,0,2,1941,2014,32,14000
12,0,9,0,56,15500,0,4,0,2,1941,2014,32,15500
13,0,9,0,58,13700,0,5,0,2,1941,2014,32,13700
14,0,9,0,58,15500,0,2,0,2,1941,2014,32,15500
15,0,9,0,49,10500,0,5,0,2,1941,2014,32,10500
16,0,9,0,50,10700,0,3,0,2,1941,2014,32,10700
17,0,9,0,49,12000,0,1,0,2,1941,2014,32,12000
18,0,9,0,58,15000,0,2,0,2,1941,2014,32,15000
19,0,9,0,58,16000,0,3,0,2,1941,2014,32,16000

In [30]:
tomany = ['동', '월세(만원)', '종가']
for col in df.columns:
    if col in tomany : continue
    print(col," : ", df[col].unique())

시군구_Encoder  :  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]
동_Encoder  :  [  9  54  72  75 162 186 191 208 228 237 300 301 337   7  15  38 100 115
 173 180 227 336 130 136 193 273   3  19  48 101 102 135 245 383  46 147
 205  22  31  32  57 302 323 384   1   8  16  28  33 204 258 263 335 372
   2  81 196  18 165 282 322 362  77 134 219 329  58 209 267 293 305 312
 315 338 386 393  52  69  99 145 153 166 167 203 394  17  51  74  80 105
 109 169 170 175 183 198 210 214 220 240 244 265 324 332 352 365 371 375
  41  50  73 129 149 150 242 255 333 334 351 370 376 378 380  47 131 132
 177 212 229 272 304  34  35  36  37 103 152 171 184 185 188 260 266 290
 363 373 379  39  82  86  89  90  93  94  96 140 141 143 158 159 160 172
 178 181 222 224 306 314 319 364   0  11 104 128 133 163 179 189 216 257
 303 307 357 116 213  59  60  61  62  63  64  65  68  76 122 123 124 125
 126 200 230 231 232 233 234 235 236 246 247 250 251 253 254  79  98 127
 137 156 176 197 268 269 271 278 279 280 281 294 295 366 367 368 369 391
 392   6  29  53  71 151 190 238 291 327 328  12  49  67 111 112 117 154
 195 199 211 239 241 297 298 331 340 356  42  43 106 194 202 287 299 309
 313 325 347 385 387 388 395 108 110 119 168 201 326  84  70 350  78  88
  95 139 161 248 249 252   5  21 148 275 361 390 346 358 174 264  30  66
 262  87 138 144 157 182 223 225 226  85 321 341 342 343  14  27  55  97
 113 114 261 276 296 330 374 377 381 389 120 308 215 339  40 349 256 316
 270  56 164 344 359  26 259  13 192  24 107  91   4 207 353 360 146 382
 354 142 274 284 288 289 206  45 118 292 217  10  44 283 218  23 320 221
 355 187 155 348  83 310 345 311 286 121  20 243 285  25 277 317 318  92]
전월세구분  :  [0 1]
전용면적(㎡)  :  [ 77  79 104 133 161 168 170  50  61  58  56  49  41  35  42  74  53  60
  83  73  82 123  96 149 182  51  39  33  57  28  40  84  71  80  95 128
 177 165  67 111 117 114 208 157 180  36  45  59  22  97  16 110 127 158
 189 159  34  23 108 115  85 101 145 121 105 188 162 150 136 160  76  25
 120 148  29 139 164 190 172 138 130 134 155 119 112 207  66 107 142 106
 124  54  89 122 153 126 152 146  46  24 137 244 163 144 141  52 116  91
 131 109  31  93 154  43  94 129  90  64 118 140 171  78  63 147 196 198
  17  81  30  70 135  87  14  47 100  69  92  48  75  99  68 214 113  55
  32  15  12 151  62  72 102  86 125  13  88  98  65  27 132 103  44  37
  18 181  38 156 192  20  26  19 174 166 203 235 204 169 218 191 143 186
 236 222 216 231 257 185 205 194 176 223 233 220 195 178 230 187 200 210
  21 167 219  11 179 201  10 175 183 199   8 213 211 193 243 238 184 242
 202 239 229 173 197 217 240 256 224 206 232 250 227 225 221 234 241 215
 248 212 255 245 209 246 237   9 228 226 445   3 258 253 287 271 267 353
 251 254 281 266 273 295   7 292   5 280 249 317 260 359 261 302 252 270
 304 283   1   6 264 288 275 268 301]
보증금(만원)  :  [33000 34000 28000 ...  5644  9022  7584]
층  :  [ 2  1  8  9  6  7  3  4  5 11 14 13 12 10 15 23 20 19 18 24 22 17 26 27
 44 29 21 30 40 25 38 45 39 33 31 28 49 50 16 41 -1 35 32 36 34 42 37 55
 47  0 51 53 43 48 -2 60 66 63 46 52 61 -6 58 54 64 62 59 68 57 67 -3 56
 -4 65 69]
구분  :  [0 1 2]
한국은행기준금리  :  [2 3 1 0]
년도  :  [2014 2015 2013 2012 2011 2020 2021 2019 2018 2017 2016 2022]
건물나이  :  [26 27 30 10 32 31 28 22 23  9 18  7 12 11 29 17  0  1 13 14  6 15 25 24
 35  8 36 19 20 16 33  3  2 21 37 34 38  5  4 44 43 39 45 42 46 41 40 48
 49 52 53 47 58 51 50 89 59 57 88 56 72 69 86 55 64 54 80 81 79 61 60 66
 82 62 65]
환산_보증금_월세  :  [33000 34000 28000 ... 18926  9984  8822]

In [31]:
print(df['건물나이'].value_counts())

0     248111
2     176441
1     149782
4     149052
3     132099
       ...
88         1
89         1
82         1
62         1
69         1
Name: 건물나이, Length: 75, dtype: int64

In [32]:
import numpy as np
import pandas as pd
from pandas import ExcelFile
import tensorflow as tf
from tensorflow.keras import layers  #모듈(변수나 함수를 포함)만 불러오기
from sklearn.preprocessing import StandardScaler, MinMaxScaler  #표준 정규화, 최대-최소 정규화

#df = pd.read_excel('File.xlsx', sheetname='Sheet1') #sheet명도 지정할 수 있음
# df = pd.read_excel('Real estate valuation data set.xlsx')

print(df.columns)

Index(['시군구_Encoder', '동_Encoder', '전월세구분', '전용면적(㎡)', '보증금(만원)', '월세(만원)',
       '층', '구분', '한국은행기준금리', '종가', '년도', '건물나이', '환산_보증금_월세'],
      dtype='object')

In [33]:
# df에서 모든 행, 0~6열만 split (pandas의 data를 number index로 slicing 하는 방법)
df1 = df.iloc[:, 0:4]   # 0~3열 선택
df2 = df.iloc[:, 6:12]  # 6~11열 선택

x = pd.concat([df1, df2], axis=1)  # 두 DataFrame 합치기

# df에서 모든 행, 12열만 split2.
y = df.iloc[:,12]

In [34]:
# 모든 컬럼을 유사하고 적절한 구간으로 정규화 하기
# StandardScaler()   #각 컬럼들에 min-max scaling 또는 z-score normalization 적용
scaler = MinMaxScaler()   
X_norm = scaler.fit_transform(x)

In [35]:
# X는 정규화하는 과정에서 numpy Type으로 바뀌지만 
# y는 그렇지 않기 때문에 아래와 같이 numpy타입으로 바꿔준다.

numpY = np.empty((3591649,1)) 
for i in range(3591649):
    numpY[i] = y[i]

# training set과 test set으로 나누기
X_train, y_train = X_norm[0:2873319], numpY[0:2873319]
X_test,  y_test  = X_norm[2873319:], numpY[2873319:]

In [36]:
# 모델 구조 정의하기
model = tf.keras.Sequential()  

# 입력 10개로부터 전달받는 12개 노드의 layer 생성
model.add(layers.Dense(12, input_shape=(10,)))  
model.add(layers.Activation('relu'))  

model.add(layers.Dense(12))         
model.add(layers.Activation('relu'))

model.add(layers.Dense(12))         
model.add(layers.Activation('relu'))

# 회귀모형(regression) 구축을 위해서 linear 활성함수 사용
model.add(layers.Dense(1))
model.add(layers.Activation('linear')) 

# 모델 구축하기
model.compile(
        loss='mse',         # mean_squared_error(평균제곱오차)의 alias
        optimizer='adam',   # 최적화 기법 중 하나
        metrics=['mae'])    # 실험 후 관찰하고 싶은 metric 들을 나열함.

In [ ]:
'''
10개에 한 번씩 업데이터 실행
0:미출력, 1:진행상황출력, 2:에포크당 출력
'''
hist = model.fit(
    X_train, y_train,
    batch_size=10,    
    epochs=100,       
    validation_split=0.2,  
    callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)],  
    verbose=1) 

# 테스트 데이터 입력
scores = model.evaluate(X_test, y_test)
print('test_loss: ', scores[0])
print('test_mae: ', scores[1])

# 모델 저장
# model.save("dnn_estate.h5")

Epoch 1/100
229866/229866 [==============================] - 493s 2ms/step - loss: 176010512.0000 - mae: 8176.3354 - val_loss: 184176416.0000 - val_mae: 8083.8076
Epoch 2/100
229866/229866 [==============================] - 504s 2ms/step - loss: 127168856.0000 - mae: 6915.5098 - val_loss: 165902400.0000 - val_mae: 7701.9058
Epoch 3/100
229866/229866 [==============================] - 505s 2ms/step - loss: 121592816.0000 - mae: 6790.6743 - val_loss: 160864288.0000 - val_mae: 7606.2510
Epoch 4/100
229866/229866 [==============================] - 507s 2ms/step - loss: 120021392.0000 - mae: 6745.8921 - val_loss: 162893120.0000 - val_mae: 7615.3423
Epoch 5/100
229866/229866 [==============================] - 486s 2ms/step - loss: 116309360.0000 - mae: 6649.8325 - val_loss: 148488240.0000 - val_mae: 7296.7148
Epoch 6/100
229866/229866 [==============================] - 486s 2ms/step - loss: 108325016.0000 - mae: 6459.3257 - val_loss: 145620512.0000 - val_mae: 7240.7959
Epoch 7/100
229866/229866 [==============================] - 508s 2ms/step - loss: 105677840.0000 - mae: 6403.9092 - val_loss: 142878736.0000 - val_mae: 7244.2324
Epoch 8/100
229866/229866 [==============================] - 507s 2ms/step - loss: 104199408.0000 - mae: 6372.6602 - val_loss: 141611040.0000 - val_mae: 7236.2041
Epoch 9/100
229866/229866 [==============================] - 506s 2ms/step - loss: 103311736.0000 - mae: 6352.0615 - val_loss: 143763632.0000 - val_mae: 7314.1021
Epoch 10/100
229866/229866 [==============================] - 507s 2ms/step - loss: 102835192.0000 - mae: 6342.0732 - val_loss: 140764480.0000 - val_mae: 7189.7837
Epoch 11/100
229866/229866 [==============================] - 494s 2ms/step - loss: 102291736.0000 - mae: 6327.3662 - val_loss: 139497728.0000 - val_mae: 7160.3179
Epoch 12/100
229866/229866 [==============================] - 488s 2ms/step - loss: 101224872.0000 - mae: 6303.9258 - val_loss: 139432688.0000 - val_mae: 7147.3457
Epoch 13/100
229866/229866 [==============================] - 496s 2ms/step - loss: 100612728.0000 - mae: 6291.2710 - val_loss: 137583136.0000 - val_mae: 7127.5620
Epoch 14/100
229866/229866 [==============================] - 520s 2ms/step - loss: 100167192.0000 - mae: 6283.1406 - val_loss: 137285136.0000 - val_mae: 7140.5239
Epoch 15/100
229866/229866 [==============================] - 505s 2ms/step - loss: 99789352.0000 - mae: 6278.3179 - val_loss: 136244960.0000 - val_mae: 7140.3574
Epoch 16/100
229866/229866 [==============================] - 508s 2ms/step - loss: 99489256.0000 - mae: 6273.6196 - val_loss: 136497456.0000 - val_mae: 7126.7593
Epoch 17/100
229866/229866 [==============================] - 511s 2ms/step - loss: 99257728.0000 - mae: 6272.4121 - val_loss: 136828256.0000 - val_mae: 7154.5039
Epoch 18/100
229866/229866 [==============================] - 490s 2ms/step - loss: 99067768.0000 - mae: 6268.3618 - val_loss: 137490176.0000 - val_mae: 7166.9131
Epoch 19/100
229866/229866 [==============================] - 490s 2ms/step - loss: 98917368.0000 - mae: 6265.9893 - val_loss: 136987856.0000 - val_mae: 7146.3320
Epoch 20/100
229866/229866 [==============================] - 505s 2ms/step - loss: 98742832.0000 - mae: 6262.7456 - val_loss: 136620352.0000 - val_mae: 7151.6230
Epoch 21/100
229866/229866 [==============================] - 509s 2ms/step - loss: 98626120.0000 - mae: 6258.7695 - val_loss: 136554560.0000 - val_mae: 7126.0981
Epoch 22/100
229866/229866 [==============================] - 516s 2ms/step - loss: 98509536.0000 - mae: 6254.7075 - val_loss: 142586672.0000 - val_mae: 7239.7720
Epoch 23/100
229866/229866 [==============================] - 497s 2ms/step - loss: 98324296.0000 - mae: 6252.1602 - val_loss: 142771920.0000 - val_mae: 7218.9111
Epoch 24/100
229865/229866 [============================>.] - ETA: 0s - loss: 98265336.0000 - mae: 6248.4565